body {
  font-size: 1.2em;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.category:hover {
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
}
